.change-language {
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-language button {
  border: 1px solid #fff;
  background-color: #ffffff00;
  color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 15px;
  transition: .3s ease-in-out;
  font-size: 20px;
}

.change-language button:hover {
  background-color: #fff;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  gap: 20px;
}

.gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 25px 0 0 0;
}

.card-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  font-size: 15px;
  margin-top: 10px;
  font-size: 20px;
}
.card-title img {
  width: 25px;
  height: 25px;
}
.card {
  display: flex;
  width: 315px;
  flex-direction: column;
  background-color: #202020;
  padding: 15px;
  border-radius: 20px;
}


h1 {
  text-align: center;
  font-size: 35px;
  width: 100%;
}

.main-description {
  text-align: center;
  font-size: 15px;
  width: 100%;
}

.card-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 315px;
  height: 200px;
  border-radius: 20px;
}