body {
  background-color: rgba(68, 68, 68, 0.644);
  background: url('https://avatars.mds.yandex.net/i?id=f27ccbd8a5803b9fcc871bd23e496916_l-3712015-images-thumbs&n=13');
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fff;
}